 *{
    background-color: aqua;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}
.choces{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.chioce{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chioce:hover{
    cursor: pointer;
    background-color: black;

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:5rem;

}
#user-sco,#com-sco{
    font-size: 4rem;
   
}
.msg-container{
 display: flex;
 justify-content: center;
 align-items: center;
 
}
#msg{
    background-color: green;
    margin-top: 3rem;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 10px;
}
